<div class="row">
  <div class= col>
    <br>
    <br>
    <br>
    <br>

    <div id="over_top_carousel" class="carousel slide w-35 p-3 " data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/cover2/over-top4.png" class="d-block w-100" alt="over-top">
        </div>
        {% for cloth in clothes_info %} 
          {% if cloth.over_top %}
            <div class="carousel-item">
            <img src="{{ cloth.over_top }}" class="d-block w-100" alt="">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" class="btn btn-dark" data-bs-target="#over_top_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" class="btn btn-dark" data-bs-target="#over_top_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>  
  </div>
</div>
<div class="row">
  <div class= col>
    <br>
    
    <div id="accesories_carousel" class="carousel slide w-100 p-3 " data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/cover2/accessories4.png" class="d-block w-100" alt="accesories">
        </div>
        {% for cloth in clothes_info %} 
          {% if cloth.accessories %}
            <div class="carousel-item">
            <img src="{{ cloth.accessories }}" class="d-block w-100" alt="">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" class="btn btn-dark" data-bs-target="#accesories_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" class="btn btn-dark" data-bs-target="#accesories_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>  
  </div>
</div>
