
<div class="row">
  <div class = "container">
    <div class = "row">
        <div class="col">  
          <h6 class="text-center">Мы вывели одежду , которая подходит под такую погоду! <br>
             Теперь подбери себе аутфит нажимая на стрелочки!</h6>      
            <div id="carouselExampleControlsNoTouching" class="carousel slide w-50 p-3 " data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/cover2/under-top4.png" class="d-block w-100" alt="under-top">
                </div>
                {% for cloth in clothes_info %} 
                  {% if cloth.under_top %}
                    <div class="carousel-item">
                    <img src="{{ cloth.under_top }}" class="d-block w-100" alt="3">
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" class="btn btn-dark" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" class="btn btn-dark" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>  
        </div> 
      
    </div>
  </div>
</div>
<div class="row">
  <div class = "container">
    <div class = "row">
        <div class="col">        
            <div id="bottoms_carousel" class="carousel slide w-50 p-3 " data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/cover2/bottom4.png" class="d-block w-100" alt="bottom">
                </div>
                {% for cloth in clothes_info %} 
                  {% if cloth.bottom %}
                    <div class="carousel-item">
                    <img src="{{ cloth.bottom }}" class="d-block w-100" alt="">
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" class="btn btn-dark" data-bs-target="#bottoms_carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" class="btn btn-dark" data-bs-target="#bottoms_carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>  
        </div> 
      
    </div>
  </div>
</div>
<div class="row">
  <div class = "container">
    <div class = "row">
        <div class="col">        
            <div id="shoe_carousel" class="carousel slide w-50 p-3 " data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/cover2/footwear4.png" class="d-block w-100" alt="footwear">
                </div>
                {% for cloth in clothes_info %} 
                  {% if cloth.footwear %}
                    <div class="carousel-item">
                    <img src="{{ cloth.footwear }}" class="d-block w-100" alt="3">
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" class="btn btn-dark" data-bs-target="#shoe_carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" class="btn btn-dark" data-bs-target="#shoe_carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>  
        </div> 

      
    </div>
  </div>
</div>
