{% extends "base.html" %}

{% block content %}
 
    <div class='container'>
      <br>
        <p>Программа покажет вам погоду и подберёт одежду</p>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <form method="POST">
            {{ city_form.hidden_tag() }}
            <div class="form-group">
              {{ city_form.city.label }}
              {{ city_form.city() }}<br>
            </div>
            {{ city_form.submit }}
          </form>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
    
{% endblock %}