{% extends "base.html" %}

{% block content %}
 
    <div class='container' style="text-align: center;">
      <br>
      <br>
      <h4>Сервис покажет вам погоду и подберёт одежду</h4>
      <hr>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <form method="POST">
            {{ city_form.hidden_tag() }}
            <div class="form-group">
              {{ city_form.city.label }}
              {{ city_form.city() }}<br>
            </div>
            <div class="form-group">
              <a>Укажите пол и мы подберем для Вас одежду</a>
              {{ city_form.gender.label }}
              {{ city_form.gender() }}<br>
            </div>
            <div class="text-center">
              {{ city_form.submit }}
            </div>

          </form>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
    
{% endblock %}