{% extends "base.html" %}

{% block content %}
{% include 'menu.html' %}  
    <div class='container'>
      <br>
        <p>Программа покажет вам погоду и подберёт одежду</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.city.label }}
              {{ form.city() }}<br>
            </div>
            {{ form.submit }}
          </form>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
    
{% endblock %}