{% extends "base.html" %}

{% block content %}
{% include 'menu.html' %}  
      <h1>Weather&Look</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
    <div class='col-6'>
      <h2>Прогноз погоды на сегодня</h2>
      <h4>
        {% if weather %}
          Прогноз погоды - {{ weather_info.temp_C }}
        {% else %}
          Сервис погоды пока не доступен
        {% endif %}
      </h4>
    </div>
{% endblock %}
