{% extends "base.html" %}

{% block content %}

      <h1>Weather&Look</h1>
      <div class='col-6'>
        <h3>Прогноз погоды на сегодня в {{ weather_info.city }} </h3>
        <img src="{{ weather_info.icon }}" alt="Weather Icon"> <h5>Сейчас:<br>{{ weather_info.weather_desk_now }}</h5>
        <h4>
          {% if weather_info %}
            Прогноз погоды : {{ weather_info.temp_now }}  <br>
            Чувствуется как : {{ weather_info.feelsLike_now }} <br>
            Вероятность дождя : {{ weather_info.chanceofrain }}%<br>
            Сегодня : {{ weather_info.weather_desk_day_ru }}<br>
            Восход : {{ weather_info.sunrise }}
            Закат : {{ weather_info.sunset }}

          {% else %}
            Сервис погоды пока не доступен
          {% endif %}
        </h4>
      </div>
{% endblock %}
