{% extends "base.html" %}

{% block content %}
{% include 'menu.html' %}  
      <h1>Weather&Look</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
    <div class='col-6'>
      <h3>Прогноз погоды на сегодня в {{ weather_info.city }} </h3>
      <img src="{{ weather_info.icon }}" alt="Weather Icon">
      <h4>
        {% if weather_info %}
          Прогноз погоды : {{ weather_info.temp_now }}  <br>
          Чувствуется как : {{ weather_info.feelsLike_now }} <br>
          Вероятность дождя : {{ weather_info.chanceofrain }}%<br>
          Восход : {{ weather_info.sunrise }}
          Закат : {{ weather_info.sunset }}

        {% else %}
          Сервис погоды пока не доступен
        {% endif %}
      </h4>
    </div>
{% endblock %}
